@charset "UTF-8";
/*===============Fonts===============*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Roboto:wght@400;500&family=Rubik:wght@400;500&display=swap");
/*===============Vars===============*/
:root {
  --gradient-orange: linear-gradient(2.79deg, #f35f2f -13.68%, rgba(243, 95, 47, 0.75) 121.16%);
  --color-orange: rgba(255, 122, 80, 0.83);
  --color-primary: #3d3d3f;
  --color-gray: #646464;
  --color-medium-gray: #595959;
  --color-light-gray: #999999;
  --color-dark-gray: #515155;
  --color-white: #fff;
}

/*===============Imports===============*/
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-------------------*/
/*===============Global styles===============*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
}
body.is-fixed {
  position: fixed;
  overflow-y: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

.container {
  max-width: 1198px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  display: inline-flex;
  align-items: center;
}
.logo span {
  font-family: "Rubik", sans-serif;
  padding-left: 7px;
  font-size: 1.8571428571rem;
  line-height: 119%;
  color: var(--color-primary);
  font-weight: 500;
  text-transform: uppercase;
}
@media (max-width: 767.98px) {
  .logo span {
    font-size: 1.4285714286rem;
  }
}
@media (max-width: 424.98px) {
  .logo span {
    display: none;
  }
}

.small-btn {
  font-size: 1rem;
  line-height: 129%;
  color: var(--color-white);
  min-height: 42px;
  background: var(--gradient-orange);
  opacity: 0.85;
  border-radius: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px 22px;
  transition: opacity 0.2s linear;
}
.small-btn:hover {
  opacity: 1;
}
.small-btn:active {
  opacity: 0.8;
}

.btn {
  min-height: 53px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: "Rubik", sans-serif;
  font-size: 1.4285714286rem;
  line-height: 120%;
  color: var(--color-white);
  background: var(--gradient-orange);
  opacity: 0.85;
  border-radius: 5px;
  padding: 5px 28px;
  transition: opacity 0.2s linear;
  text-transform: uppercase;
}
.btn:hover {
  opacity: 1;
}
.btn:active {
  opacity: 0.8;
}

.title {
  font-weight: 700;
  font-size: 2.8571428571rem;
  line-height: 130%;
  color: var(--color-primary);
  text-align: center;
}
@media (max-width: 767.98px) {
  .title {
    font-size: 2.5714285714rem;
  }
}
@media (max-width: 479.98px) {
  .title {
    font-size: 2.2857142857rem;
  }
}

/*===============Header===============*/
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
@media (max-width: 767.98px) {
  .header__body {
    padding: 25px 0;
  }
}
.header__action {
  display: flex;
  align-items: center;
}

.navbar.is-active {
  transform: translateY(0);
}
@media (max-width: 599.98px) {
  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(121, 226, 138, 0.5);
    z-index: 2;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    transform: translateY(-100%);
    transition: transform 0.4s ease-in-out;
  }
}
.navbar__list {
  display: flex;
  align-items: center;
  gap: 60px;
}
@media (max-width: 990.98px) {
  .navbar__list {
    gap: 40px;
  }
}
@media (max-width: 767.98px) {
  .navbar__list {
    gap: 20px;
  }
}
@media (max-width: 599.98px) {
  .navbar__list {
    flex-direction: column;
  }
}
.navbar__link {
  font-size: 1rem;
  line-height: 129%;
  color: var(--color-primary);
  font-weight: 500;
  opacity: 1;
  transition: opacity 0.2s linear;
}
.navbar__link:hover {
  background: linear-gradient(2.79deg, #f35f2f -13.68%, rgba(243, 95, 47, 0.75) 121.16%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
}
@media (max-width: 599.98px) {
  .navbar__link {
    font-size: 1.5714285714rem;
  }
}

.burger {
  padding: 15px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition-timing-function: linear;
  transition-duration: 0.2s;
  transition-property: opacity, filter;
  position: relative;
  z-index: 2;
  display: none;
  margin-right: -15px;
}
@media (max-width: 599.98px) {
  .burger {
    display: inline-block;
  }
}
.burger.is-active .burger__inner {
  transition-delay: 0.2s;
  transition-timing-function: ease;
  transform: rotate(45deg);
}
.burger.is-active .burger__inner::before {
  top: 0;
  transition: top 0.2s ease, opacity 0.2s ease 0.2s;
  opacity: 0;
}
.burger.is-active .burger__inner::after {
  transition: bottom 0.2s ease, transform 0.2s ease 0.2s;
  transform: rotate(-90deg);
  bottom: 0;
}
.burger__box {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}
.burger__inner {
  top: 50%;
  display: block;
  margin-top: -2px;
  transition-timing-function: ease;
  transition-duration: 0.2s;
}
.burger__inner::before, .burger__inner::after {
  display: block;
  content: "";
}
.burger__inner, .burger__inner::before, .burger__inner::after {
  position: absolute;
  width: 40px;
  height: 4px;
  border-radius: 4px;
  background-color: var(--color-primary);
  transition-timing-function: ease;
  transition-duration: 0.2s;
  transition-property: transform;
}
.burger__inner::before {
  top: -10px;
  transition: top 0.2s ease 0.2s, opacity 0.2s ease;
}
.burger__inner::after {
  bottom: -10px;
  transition: bottom 0.2s ease 0.2s, transform 0.2s ease;
}

/*===============Hero===============*/
.hero__body {
  display: flex;
  padding: 50px 0 60px;
  align-items: center;
}
@media (max-width: 990.98px) {
  .hero__body {
    padding: 40px 0 50px;
  }
}
@media (max-width: 767.98px) {
  .hero__body {
    padding: 30px 0 40px;
    flex-wrap: wrap;
    align-items: start;
  }
}
.hero__content {
  flex: 0 1 50%;
  padding-right: 50px;
}
@media (max-width: 990.98px) {
  .hero__content {
    padding-right: 0;
  }
}
@media (max-width: 767.98px) {
  .hero__content {
    flex: 0 1 100%;
  }
}
.hero__title {
  font-family: "Rubik", sans-serif;
  font-size: 5.1428571429rem;
  line-height: 118%;
  color: var(--color-primary);
  font-weight: 500;
  margin-bottom: 24px;
}
@media (max-width: 990.98px) {
  .hero__title {
    font-size: 4rem;
  }
}
@media (max-width: 479.98px) {
  .hero__title {
    font-size: 3.4285714286rem;
  }
}
@media (max-width: 379.98px) {
  .hero__title {
    font-size: 2.8571428571rem;
  }
}
.hero__text {
  font-family: "Rubik", sans-serif;
  font-size: 1.4285714286rem;
  line-height: 120%;
  color: var(--color-primary);
}
.hero__text:not(:last-child) {
  margin-bottom: 40px;
}
@media (max-width: 767.98px) {
  .hero__text:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media (max-width: 479.98px) {
  .hero__text {
    font-size: 1.1428571429rem;
  }
}
@media (max-width: 767.98px) {
  .hero__btn {
    margin-bottom: 20px;
  }
}
.hero__media {
  flex: 0 1 50%;
}
@media (max-width: 767.98px) {
  .hero__media {
    flex: 0 1 100%;
  }
}
.hero__media img {
  max-width: 100%;
}

/*===============Services===============*/
.services__body {
  padding: 60px 0 30px;
}
@media (max-width: 990.98px) {
  .services__body {
    padding: 40px 0 20px;
  }
}
@media (max-width: 767.98px) {
  .services__body {
    padding: 20px 0;
  }
}
.services__title {
  margin-bottom: 55px;
}
@media (max-width: 767.98px) {
  .services__title {
    margin-bottom: 30px;
  }
}

.grid-services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  border: 2px solid rgba(235, 235, 235, 0.8);
  border-radius: 17px;
  padding: 55px 0;
  justify-content: center;
}
@media (max-width: 767.98px) {
  .grid-services {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
}
@media (max-width: 599.98px) {
  .grid-services {
    grid-template-columns: 1fr;
    border: none;
    padding: 0;
  }
}
.grid-services__item {
  text-align: center;
}
.grid-services__item:not(:last-child) {
  border-right: 2px solid rgba(235, 235, 235, 0.8);
}
@media (max-width: 767.98px) {
  .grid-services__item:not(:last-child) {
    margin-bottom: 30px;
    border-right: none;
  }
}
@media (max-width: 767.98px) {
  .grid-services__item:last-child {
    justify-self: center;
    grid-column: 1/3;
  }
}
@media (max-width: 599.98px) {
  .grid-services__item:last-child {
    grid-column: auto;
  }
}
.grid-services__img {
  border-radius: 15px;
  margin-bottom: 27px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 90px;
}
.grid-services__img_green {
  background-color: #79e28a;
}
.grid-services__img_blue {
  background-color: #60daff;
}
.grid-services__img_red {
  background-color: #f37168;
}
.grid-services__value {
  font-size: 2.5714285714rem;
  line-height: 131%;
  color: var(--color-primary);
  font-weight: 700;
  margin-bottom: 13px;
}
.grid-services__text {
  font-size: 1.7142857143rem;
  line-height: 129%;
  color: var(--color-primary);
  opacity: 0.7;
}

/*===============Offer===============*/
.offer__body {
  padding: 30px 0 60px;
}
@media (max-width: 990.98px) {
  .offer__body {
    padding: 20px 0 40px;
  }
}
@media (max-width: 767.98px) {
  .offer__body {
    padding: 20px 0;
  }
}
.offer__title {
  margin-bottom: 117px;
}
@media (max-width: 990.98px) {
  .offer__title {
    margin-bottom: 80px;
  }
}
@media (max-width: 767.98px) {
  .offer__title {
    margin-bottom: 65px;
  }
}

.grid-offer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
  -moz-column-gap: 51px;
       column-gap: 51px;
  row-gap: 70px;
}
@media (max-width: 990.98px) {
  .grid-offer {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.grid-offer__item {
  text-align: center;
  box-shadow: 0px 4px 22px rgba(95, 95, 95, 0.05);
  border-radius: 23px;
  padding: 0 35px 40px;
}
.grid-offer__item:hover .grid-offer__image {
  background-color: var(--color-orange);
}
.grid-offer__item:hover .grid-offer__image path {
  fill: var(--color-white);
}
@media (max-width: 990.98px) {
  .grid-offer__item {
    padding: 0 20px 20px;
  }
}
.grid-offer__image {
  width: 102px;
  height: 102px;
  border-radius: 50%;
  box-shadow: 0px 4px 22px rgba(95, 95, 95, 0.05);
  border-radius: 555px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: -51px;
  background-color: var(--color-white);
  transition: background-color 0.2s linear;
  margin-bottom: 23px;
}
.grid-offer__image svg path {
  fill: var(--color-primary);
  transition: fill 0.2s linear;
}
.grid-offer__title {
  font-size: 1.7142857143rem;
  line-height: 129%;
  color: var(--color-primary);
  font-weight: 700;
  margin-bottom: 10px;
}
.grid-offer__text {
  font-size: 1.1428571429rem;
  line-height: 163%;
  color: var(--color-medium-gray);
  margin-bottom: 27px;
}
.grid-offer__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f5;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  transition: background-color 0.2s linear;
}
.grid-offer__btn svg path {
  fill: var(--color-medium-gray);
  transition: fill 0.2s linear;
}
.grid-offer__btn:hover {
  background-color: var(--color-orange);
}
.grid-offer__btn:hover path {
  fill: var(--color-white);
}
.grid-offer__btn:active {
  background-color: rgba(240, 100, 58, 0.83);
}

/*===============Projects===============*/
.projects__body {
  text-align: center;
  padding: 60px 0;
}
@media (max-width: 990.98px) {
  .projects__body {
    padding: 40px 0;
  }
}
@media (max-width: 767.98px) {
  .projects__body {
    padding: 20px 0;
  }
}
.projects__title {
  margin-bottom: 55px;
}
@media (max-width: 990.98px) {
  .projects__title {
    margin-bottom: 40px;
  }
}
@media (max-width: 767.98px) {
  .projects__title {
    margin-bottom: 25px;
  }
}
.projects__grid {
  margin-bottom: 60px;
}
@media (max-width: 990.98px) {
  .projects__grid {
    margin-bottom: 40px;
  }
}
@media (max-width: 767.98px) {
  .projects__grid {
    margin-bottom: 20px;
  }
}

.grid-projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 28px;
}
.grid-projects__item {
  filter: drop-shadow(0px 4px 22px rgba(95, 95, 95, 0.05));
  background-color: var(--color-white);
  border-radius: 10px;
  overflow: hidden;
}
.grid-projects__media {
  position: relative;
  padding-bottom: 74%;
}
.grid-projects__media img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.grid-projects__content {
  padding: 20px 5px;
}
.grid-projects__title {
  font-size: 1.4285714286rem;
  line-height: 130%;
  color: var(--color-primary);
  font-weight: 500;
}

/*===============Team===============*/
.team__body {
  padding: 60px 0;
}
@media (max-width: 990.98px) {
  .team__body {
    padding: 40px 0;
  }
}
@media (max-width: 767.98px) {
  .team__body {
    padding: 20px 0;
  }
}
.team__title {
  margin-bottom: 55px;
}
@media (max-width: 990.98px) {
  .team__title {
    margin-bottom: 40px;
  }
}
@media (max-width: 767.98px) {
  .team__title {
    margin-bottom: 25px;
  }
}

.grid-team {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 36px;
}
@media (max-width: 767.98px) {
  .grid-team {
    gap: 24px;
  }
}
.grid-team__item {
  padding: 10px 13px 27px;
  background: linear-gradient(138.88deg, rgba(254, 254, 254, 0) -2.44%, #f9f9f9 -2.43%, rgba(254, 254, 254, 0.51) 98.26%);
  border: 1px solid #eeeff1;
  filter: drop-shadow(0px 4px 120px rgba(0, 0, 0, 0.05));
  border-radius: 10px;
}
.grid-team__media {
  position: relative;
  padding-bottom: 103%;
  box-shadow: 0px 4px 120px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  overflow: hidden;
}
.grid-team__media img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.grid-team__content {
  padding-top: 18px;
  text-align: center;
}
.grid-team__title {
  font-weight: 500;
  font-size: 1.2857142857rem;
  line-height: 167%;
  color: var(--color-primary);
  margin-bottom: 1px;
}
.grid-team__text {
  display: inline-block;
  font-size: 1rem;
  line-height: 157%;
  color: var(--color-light-gray);
  margin-bottom: 17px;
}

.socials-grid-team {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.socials-grid-team__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.socials-grid-team__link:nth-child(1) {
  background-color: #4d77cf;
  transition: background-color 0.2s linear;
}
.socials-grid-team__link:nth-child(1):hover {
  background-color: #315db8;
}
.socials-grid-team__link:nth-child(2) {
  background-color: #1da1f2;
  transition: background-color 0.2s linear;
}
.socials-grid-team__link:nth-child(2):hover {
  background-color: #0c85d0;
}
.socials-grid-team__link:nth-child(3) {
  background-color: #0077b5;
  transition: background-color 0.2s linear;
}
.socials-grid-team__link:nth-child(3):hover {
  background-color: #005582;
}

/*===============Testimonials===============*/
.testimonials__body {
  padding: 60px 0 200px;
}
@media (max-width: 990.98px) {
  .testimonials__body {
    padding: 40px 0 150px;
  }
}
@media (max-width: 767.98px) {
  .testimonials__body {
    padding: 20px 0;
  }
}
.testimonials__title {
  margin-bottom: 34px;
}
@media (max-width: 767.98px) {
  .testimonials__title {
    margin-bottom: 20px;
  }
}

.shape-testimonials {
  max-width: 742px;
  min-height: 547px;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 767.98px) {
  .shape-testimonials {
    max-width: 400px;
    min-height: 350px;
  }
}
@media (max-width: 479.98px) {
  .shape-testimonials {
    max-width: 320px;
    min-height: 250px;
  }
}
.shape-testimonials__image {
  position: absolute;
  border-radius: 50%;
}
.shape-testimonials__image::before {
  content: "";
  position: absolute;
  width: 104%;
  height: 104%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 50%;
  transition: all 0.1s linear;
}
.shape-testimonials__image:hover::before {
  background-color: var(--color-orange);
}
.shape-testimonials__image:hover img {
  border: 4px solid var(--color-white);
}
.shape-testimonials__image:hover .shape-testimonials__hover {
  opacity: 1;
  visibility: visible;
}
.shape-testimonials__image_1 {
  left: 0;
  top: 21%;
}
.shape-testimonials__image_2 {
  top: 0;
  left: 39%;
}
.shape-testimonials__image_3 {
  right: 0;
  top: 23%;
}
.shape-testimonials__image_4 {
  top: 40%;
  left: 36%;
}
.shape-testimonials__image_5 {
  bottom: 0;
  left: 10%;
}
.shape-testimonials__image_6 {
  bottom: 4%;
  right: 13%;
}
.shape-testimonials__image img {
  filter: drop-shadow(0px 4px 120px rgba(0, 0, 0, 0.05));
  border-radius: 50%;
  border: 4px solid transparent;
  position: relative;
  z-index: 2;
  transition: border 0.1s linear;
}
@media (max-width: 767.98px) {
  .shape-testimonials__image img {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 479.98px) {
  .shape-testimonials__image img {
    width: 75px;
    height: 75px;
  }
}
.shape-testimonials__hover {
  padding: 22px 14px 13px;
  background-color: var(--color-white);
  box-shadow: 0px 4px 120px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  text-align: center;
  position: absolute;
  width: 300px;
  bottom: -162px;
  z-index: 55;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s linear, visibility 0.2s linear;
}
@media (max-width: 990.98px) {
  .shape-testimonials__hover {
    width: 250px;
  }
}
@media (max-width: 767.98px) {
  .shape-testimonials__hover {
    display: none;
  }
}
.shape-testimonials__hover::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 20px 15px;
  border-color: transparent transparent #ffffff transparent;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}
.shape-testimonials__text {
  font-size: 1.1428571429rem;
  line-height: 131%;
  color: var(--color-dark-gray);
}
.shape-testimonials__title {
  font-size: 1.4285714286rem;
  line-height: 130%;
  color: var(--color-primary);
  font-weight: 500;
  background: var(--gradient-orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 5px;
}
.shape-testimonials__sub-text {
  font-size: 1rem;
  line-height: 129%;
  color: var(--color-dark-gray);
  opacity: 0.7;
}
.shape-testimonials__dot {
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  opacity: 0.8;
}
@media (max-width: 479.98px) {
  .shape-testimonials__dot {
    width: 14px;
    height: 14px;
  }
}
.shape-testimonials__dot_1 {
  background: linear-gradient(88.3deg, #aa80ff -71.4%, rgba(160, 113, 255, 0.65) 151.53%);
  left: 22%;
  top: 52%;
}
.shape-testimonials__dot_2 {
  background: linear-gradient(3.03deg, rgba(243, 47, 47, 0.9) -100.62%, rgba(243, 47, 47, 0.55) 120.92%);
  top: 33%;
  left: 36%;
}
.shape-testimonials__dot_3 {
  background: linear-gradient(90.46deg, #47c2ff -141.71%, rgba(99, 203, 254, 0.65) 97.21%);
  top: 30%;
  right: 34%;
}
.shape-testimonials__dot_4 {
  width: 16px;
  height: 16px;
  background: linear-gradient(88.3deg, #79e28a -274.73%, rgba(121, 226, 177, 0.65) 96.22%);
  bottom: 19%;
  right: 40%;
}
@media (max-width: 479.98px) {
  .shape-testimonials__dot_4 {
    width: 10px;
    height: 10px;
  }
}

/*===============Contact===============*/
.contact__body {
  padding: 55px 0 50px;
}
@media (max-width: 990.98px) {
  .contact__body {
    padding: 40px 35px;
  }
}
@media (max-width: 767.98px) {
  .contact__body {
    padding: 20px 0;
  }
}
.contact__title {
  margin-bottom: 60px;
}
@media (max-width: 990.98px) {
  .contact__title {
    margin-bottom: 40px;
  }
}
@media (max-width: 767.98px) {
  .contact__title {
    margin-bottom: 20px;
  }
}

.form-contact {
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.form-contact__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 33px;
       column-gap: 33px;
  row-gap: 23px;
  margin-bottom: 50px;
}
@media (max-width: 767.98px) {
  .form-contact__grid {
    margin-bottom: 20px;
  }
}
@media (max-width: 599.98px) {
  .form-contact__grid {
    grid-template-columns: 1fr;
  }
}
.form-contact__action_last {
  grid-column: 1/3;
}
@media (max-width: 599.98px) {
  .form-contact__action_last {
    grid-column: auto;
  }
}
.form-contact__title {
  font-size: 1.2857142857rem;
  line-height: 128%;
  color: var(--color-primary);
  opacity: 0.9;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.form-contact__input {
  background-color: var(--color-white);
  box-shadow: 0px 4px 120px rgba(0, 0, 0, 0.03);
  border-radius: 5px;
  min-height: 52px;
  font-size: 1rem;
  line-height: 129%;
  color: var(--color-primary);
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding: 5px 12px;
}
.form-contact__input::-moz-placeholder {
  color: var(--color-dark-gray);
  opacity: 0.4;
}
.form-contact__input:-ms-input-placeholder {
  color: var(--color-dark-gray);
  opacity: 0.4;
}
.form-contact__input::placeholder {
  color: var(--color-dark-gray);
  opacity: 0.4;
}
.form-contact__input_textarea {
  padding: 18px 12px;
  min-height: 190px;
  resize: none;
}
@media (max-width: 599.98px) {
  .form-contact__input_textarea {
    min-height: 120px;
  }
}
.form-contact__button {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  align-self: end;
}