/*===============Fonts===============*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Roboto:wght@400;500&family=Rubik:wght@400;500&display=swap');

// font-family: 'DM Sans', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Rubik', sans-serif;

/*===============Vars===============*/
:root {
  --gradient-orange: linear-gradient(2.79deg, #f35f2f -13.68%, rgba(243, 95, 47, 0.75) 121.16%);

  --color-orange: rgba(255, 122, 80, 0.83);
  --color-primary: #3d3d3f;
  --color-gray: #646464;
  --color-medium-gray: #595959;
  --color-dark-gray: #515155;
  --color-white: #fff;
}
/*===============Imports===============*/
@import './nullstyle.scss';
@import './config.scss';
/*===============Global styles===============*/

body {
  font-family: 'DM Sans', sans-serif;

  &.is-fixed {
    position: fixed;
    overflow-y: hidden;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

.container {
  max-width: 1198px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  display: inline-flex;
  align-items: center;

  span {
    font-family: 'Rubik', sans-serif;
    padding-left: 7px;
    @include textProperties(26px, 31px, var(--color-primary));
    font-weight: 500;
    text-transform: uppercase;

    @media (max-width: 767.98px) {
      font-size: rem(20px);
    }

    @media (max-width: 424.98px) {
      display: none;
    }
  }
}

.small-btn {
  @include textProperties(14px, 18px, var(--color-white));
  min-height: 42px;
  background: var(--gradient-orange);
  opacity: 0.85;
  border-radius: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px 22px;
  transition: opacity 0.2s linear;

  &:hover {
    opacity: 1;
  }
  &:active {
    opacity: 0.8;
  }
}

.btn {
  min-height: 53px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  @include textProperties(20px, 24px, var(--color-white));
  background: var(--gradient-orange);
  opacity: 0.85;
  border-radius: 5px;
  padding: 5px 28px;
  transition: opacity 0.2s linear;

  &:hover {
    opacity: 1;
  }
  &:active {
    opacity: 0.8;
  }
}

.title {
  font-weight: 700;
  @include textProperties(40px, 52px, var(--color-primary));
  text-align: center;

  @media (max-width: 767.98px) {
    font-size: rem(36px);
  }
  @media (max-width: 479.98px) {
    font-size: rem(32px);
  }
}

/*===============Header===============*/

.header {
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;

    @media (max-width: 767.98px) {
      padding: 25px 0;
    }
  }
  &__action {
    display: flex;
    align-items: center;
  }
}

.navbar {
  &.is-active {
    transform: translateY(0);
  }

  @media (max-width: 599.98px) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(121, 226, 138, 0.5);
    z-index: 2;
    backdrop-filter: blur(10px);
    transform: translateY(-100%);
    transition: transform 0.4s ease-in-out;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 60px;

    @media (max-width: 990.98px) {
      gap: 40px;
    }
    @media (max-width: 767.98px) {
      gap: 20px;
    }
    @media (max-width: 599.98px) {
      flex-direction: column;
    }
  }
  &__link {
    @include textProperties(14px, 18px, var(--color-primary));
    font-weight: 500;
    opacity: 1;
    transition: opacity 0.2s linear;

    &:hover {
      background: linear-gradient(2.79deg, #f35f2f -13.68%, rgba(243, 95, 47, 0.75) 121.16%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      opacity: 1;
    }

    @media (max-width: 599.98px) {
      font-size: rem(22px);
    }
  }
}

.burger {
  padding: 15px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition-timing-function: linear;
  transition-duration: 0.2s;
  transition-property: opacity, filter;
  position: relative;
  z-index: 2;
  display: none;
  margin-right: -15px;

  @media (max-width: 599.98px) {
    display: inline-block;
  }

  &.is-active &__inner {
    transition-delay: 0.2s;
    transition-timing-function: ease;
    transform: rotate(45deg);
  }

  &.is-active &__inner::before {
    top: 0;
    transition: top 0.2s ease, opacity 0.2s ease 0.2s;
    opacity: 0;
  }
  &.is-active &__inner::after {
    transition: bottom 0.2s ease, transform 0.2s ease 0.2s;
    transform: rotate(-90deg);
    bottom: 0;
  }

  &__box {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
  }

  &__inner {
    top: 50%;
    display: block;
    margin-top: -2px;
    transition-timing-function: ease;
    transition-duration: 0.2s;

    &::before,
    &::after {
      display: block;
      content: '';
    }

    &,
    &::before,
    &::after {
      position: absolute;
      width: 40px;
      height: 4px;
      border-radius: 4px;
      background-color: var(--color-primary);
      transition-timing-function: ease;
      transition-duration: 0.2s;
      transition-property: transform;
    }

    &::before {
      top: -10px;
      transition: top 0.2s ease 0.2s, opacity 0.2s ease;
    }
    &::after {
      bottom: -10px;
      transition: bottom 0.2s ease 0.2s, transform 0.2s ease;
    }
  }
}

/*===============Hero===============*/

.hero {
  &__body {
    display: flex;
    padding: 50px 0 60px;
    align-items: center;

    @media (max-width: 990.98px) {
      padding: 40px 0 50px;
    }
    @media (max-width: 767.98px) {
      padding: 30px 0 40px;
      flex-wrap: wrap;
      align-items: start;
    }
  }
  &__content {
    flex: 0 1 50%;
    padding-right: 50px;

    @media (max-width: 990.98px) {
      padding-right: 0;
    }
    @media (max-width: 767.98px) {
      flex: 0 1 100%;
    }
  }
  &__title {
    font-family: 'Rubik', sans-serif;
    @include textProperties(72px, 85px, var(--color-primary));
    font-weight: 500;
    margin-bottom: 24px;

    @media (max-width: 990.98px) {
      font-size: rem(56px);
    }
    @media (max-width: 479.98px) {
      font-size: rem(48px);
    }
    @media (max-width: 379.98px) {
      font-size: rem(40px);
    }
  }
  &__text {
    font-family: 'Rubik', sans-serif;
    @include textProperties(20px, 24px, var(--color-primary));

    &:not(:last-child) {
      margin-bottom: 40px;

      @media (max-width: 767.98px) {
        margin-bottom: 20px;
      }
    }

    @media (max-width: 479.98px) {
      font-size: rem(16px);
    }
  }
  &__btn {
    @media (max-width: 767.98px) {
      margin-bottom: 20px;
    }
  }
  &__media {
    flex: 0 1 50%;

    @media (max-width: 767.98px) {
      flex: 0 1 100%;
    }

    img {
      max-width: 100%;
    }
  }
}

/*===============Services===============*/

.services {
  &__body {
    padding: 60px 0 30px;

    @media (max-width: 990.98px) {
      padding: 40px 0 20px;
    }
    @media (max-width: 767.98px) {
      padding: 20px 0;
    }
  }
  &__title {
    margin-bottom: 55px;

    @media (max-width: 767.98px) {
      margin-bottom: 30px;
    }
  }
}

.grid-services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  border: 2px solid rgba(235, 235, 235, 0.8);
  border-radius: 17px;
  padding: 55px 0;
  justify-content: center;

  @media (max-width: 767.98px) {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
  @media (max-width: 599.98px) {
    grid-template-columns: 1fr;
    border: none;
    padding: 0;
  }

  &__item {
    text-align: center;

    &:not(:last-child) {
      border-right: 2px solid rgba(235, 235, 235, 0.8);

      @media (max-width: 767.98px) {
        margin-bottom: 30px;
        border-right: none;
      }
    }

    &:last-child {
      @media (max-width: 767.98px) {
        justify-self: center;
        grid-column: 1 / 3;
      }
      @media (max-width: 599.98px) {
        grid-column: auto;
      }
    }
  }
  &__img {
    border-radius: 15px;
    margin-bottom: 27px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 90px;

    &_green {
      background-color: #79e28a;
    }
    &_blue {
      background-color: #60daff;
    }
    &_red {
      background-color: #f37168;
    }
  }
  &__value {
    @include textProperties(36px, 47px, var(--color-primary));
    font-weight: 700;
    margin-bottom: 13px;
  }
  &__text {
    @include textProperties(24px, 31px, var(--color-primary));
    opacity: 0.7;
  }
}

/*===============Offer===============*/

.offer {
  &__body {
    padding: 30px 0 60px;

    @media (max-width: 990.98px) {
      padding: 20px 0 40px;
    }
    @media (max-width: 767.98px) {
      padding: 20px 0;
    }
  }
  &__title {
    margin-bottom: 117px;

    @media (max-width: 990.98px) {
      margin-bottom: 80px;
    }
    @media (max-width: 767.98px) {
      margin-bottom: 65px;
    }
  }
}

.grid-offer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
  column-gap: 51px;
  row-gap: 70px;

  @media (max-width: 990.98px) {
    column-gap: 20px;
  }

  &__item {
    text-align: center;
    box-shadow: 0px 4px 22px rgba(95, 95, 95, 0.05);
    border-radius: 23px;
    padding: 0 35px 40px;

    &:hover .grid-offer__image {
      background-color: var(--color-orange);
    }
    &:hover .grid-offer__image path {
      fill: var(--color-white);
    }

    @media (max-width: 990.98px) {
      padding: 0 20px 20px;
    }
  }
  &__image {
    width: 102px;
    height: 102px;
    border-radius: 50%;
    box-shadow: 0px 4px 22px rgba(95, 95, 95, 0.05);
    border-radius: 555px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: -51px;
    background-color: var(--color-white);
    transition: background-color 0.2s linear;
    margin-bottom: 23px;

    svg path {
      fill: var(--color-primary);
      transition: fill 0.2s linear;
    }
  }
  &__title {
    @include textProperties(24px, 31px, var(--color-primary));
    font-weight: 700;
    margin-bottom: 10px;
  }
  &__text {
    @include textProperties(16px, 26px, var(--color-medium-gray));
    margin-bottom: 27px;
  }
  &__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f5;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    transition: background-color 0.2s linear;

    svg path {
      fill: var(--color-medium-gray);
      transition: fill 0.2s linear;
    }

    &:hover {
      background-color: var(--color-orange);
    }

    &:hover path {
      fill: var(--color-white);
    }

    &:active {
      background-color: rgba(240, 100, 58, 0.83);
    }
  }
}
